<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wenco</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <style>
        body {@*@RenderSection("Styles", false)*@
        }
    </style>
    <div></div>
    <div>
            @RenderBody()
    </div>
</body>
</html>

